src/main/resources/schema/AllStatistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="annotator.model.statistics.domain.AllStatistics" type="annotator.model.statistics.domain.AllStatisticsType"/>
  <xs:complexType name="allUsersType">
    <xs:sequence>
      <xs:element type="xs:string" name="userId"/>
      <xs:element type="xs:string" name="trueRatio"/>
      <xs:element type="xs:string" name="averageDuration"/>
      <xs:element type="xs:string" name="averageDurationOnNoisyData"/>
      <xs:element type="confusionMatrixType" name="confusionMatrix"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="allWordsType">
    <xs:sequence>
      <xs:element type="xs:string" name="wordId"/>
      <xs:element type="xs:string" name="trueRatio"/>
      <xs:element type="xs:string" name="averageDuration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="packageStatisticsListType">
    <xs:sequence>
      <xs:element type="annotator.model.statistics.domain.PackageStatisticsType" name="annotator.model.statistics.domain.PackageStatistics"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userStatisticsListType">
    <xs:sequence>
      <xs:element type="annotator.model.statistics.domain.UserStatisticsType" name="annotator.model.statistics.domain.UserStatistics"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wordStatisticsListType">
    <xs:sequence>
      <xs:element type="annotator.model.statistics.domain.WordStatisticsType" name="annotator.model.statistics.domain.WordStatistics" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annotator.model.statistics.domain.PackageStatisticsType">
    <xs:sequence>
      <xs:element type="xs:string" name="packageId"/>
      <xs:element type="xs:string" name="averagePackageDuration"/>
      <xs:element type="xs:string" name="trueRatio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confusionMatrixType">
    <xs:sequence>
      <xs:element type="xs:string" name="totalPopulation"/>
      <xs:element type="xs:string" name="predictedTrueClassesCount"/>
      <xs:element type="xs:string" name="predictedFalseClassesCount"/>
      <xs:element type="xs:string" name="trueClassesCount"/>
      <xs:element type="xs:string" name="falseClassesCount"/>
      <xs:element type="xs:string" name="truePositive"/>
      <xs:element type="xs:string" name="falsePositive"/>
      <xs:element type="xs:string" name="trueNegative"/>
      <xs:element type="xs:string" name="falseNegative"/>
      <xs:element type="xs:string" name="trueAccuracy"/>
      <xs:element type="xs:string" name="falseAccuracy"/>
      <xs:element type="xs:string" name="predictedTrueAccuracy"/>
      <xs:element type="xs:string" name="predictedFalseAccuracy"/>
      <xs:element type="xs:string" name="overallAccuracy"/>
      <xs:element type="xs:string" name="averageAccuracy"/>
      <xs:element type="xs:string" name="meanClassificationAccuracy"/>
      <xs:element type="xs:string" name="randomAgreementProbability"/>
      <xs:element type="xs:string" name="falsePrecision"/>
      <xs:element type="xs:string" name="truePrecision"/>
      <xs:element type="xs:string" name="trueRecall"/>
      <xs:element type="xs:string" name="falseRecall"/>
      <xs:element type="xs:string" name="kappa"/>
      <xs:element type="xs:string" name="f1Positive"/>
      <xs:element type="xs:string" name="f1Negative"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annotator.model.statistics.domain.AllStatisticsType">
    <xs:sequence>
      <xs:element type="allUsersType" name="allUsers"/>
      <xs:element type="allWordsType" name="allWords"/>
      <xs:element type="userStatisticsListType" name="userStatisticsList"/>
      <xs:element type="wordStatisticsListType" name="wordStatisticsList"/>
      <xs:element type="packageStatisticsListType" name="packageStatisticsList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annotator.model.statistics.domain.WordStatisticsType">
    <xs:sequence>
      <xs:element type="xs:string" name="wordId"/>
      <xs:element name="trueRatio">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1.0"/>
            <xs:enumeration value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="averageDuration"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annotator.model.statistics.domain.UserStatisticsType">
    <xs:sequence>
      <xs:element type="xs:string" name="userId"/>
      <xs:element type="xs:string" name="trueRatio"/>
      <xs:element type="xs:string" name="averageDuration"/>
      <xs:element type="xs:string" name="averageDurationOnNoisyData"/>
      <xs:element type="confusionMatrixType" name="confusionMatrix"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
