src/main/resources/schema/WordStatistics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="annotator.model.statistics.domain.WordStatistics" type="annotator.model.statistics.domain.WordStatisticsType"/>
  <xs:complexType name="annotator.model.statistics.domain.WordStatisticsType">
    <xs:sequence>
      <xs:element type="xs:string" name="wordId"/>
      <xs:element type="xs:string" name="trueRatio"/>
      <xs:element type="xs:string" name="averageDuration"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>